@charset "UTF-8";
nav {
	background-color: #57cc99;
	overflow: hidden;
}

nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

.recipe-rank, .recipe-today {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.post {
	width: 30%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
}

.inactiveUser {
	width: 90%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 20px;
	margin: 20px auto; /* 위아래 20px, 좌우 가운데 정렬 */
}

.userAgeDistribution {
	width: 90%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 20px;
	margin: 20px auto; /* 위아래 20px, 좌우 가운데 정렬 */
}

.styled-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	background-color: #57cc99;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background 0.3s ease;
	background-color: #57cc99;
}

/* 유저 랭킹 스타일 */
.userRanking {
	margin-top: 20px;
	padding: 15px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}

.userRanking table {
	width: 100%;
	border-collapse: collapse;
}

.userRanking th, .userRanking td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.userRanking th {
	background-color: #f2f2f2;
}

.userRanking tr:nth-child(even) {
	background-color: #f2f2f2;
}

.userRanking tr:hover {
	background-color: #ddd;
}