@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}

h1 {
	color: #333;
	text-align: center;
}

#ingredient-list {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

#ingredient-list li {
	background-color: #fff;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.ingredient-icon {
	margin-right: 10px;
	font-size: 20px;
}

.btn-container {
	text-align: center;
	margin-top: 20px;
}

.add-btn, .remove-btn {
	padding: 10px 20px;
	margin: 0 10px;
	background-color: #27ae60;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.remove-btn {
	background-color: #e74c3c;
}

.add-btn:hover, .remove-btn:hover {
	background-color: #2ecc71;
}
